* {
  box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #ffffff; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex; }

.wrapper {
  background: url(../assets/images/background-header.jpg), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  background-repeat: no-repeat;
  background-size: cover;
  height: 908px; }

.section-header .container {
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px; }

.section-header .logo {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-header .logo__title {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    margin: 0 0 11px 0; }
  .section-header .logo__subtitle {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em; }

.section-header .nav-wrapper {
  display: flex; }
  .section-header .nav-wrapper__item {
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer; }
    .section-header .nav-wrapper__item.active, .section-header .nav-wrapper__item:active {
      border-bottom: 3px solid #f1cdb3; }
    .section-header .nav-wrapper__item.active, .section-header .nav-wrapper__item:hover {
      color: #fafafa; }
    .section-header .nav-wrapper__item:not(:first-child) {
      margin-left: 35px; }

.section-not_only .container {
  justify-content: space-around;
  align-items: center; }

.section-not_only .not_only-inner {
  width: 460px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 42px 78px 0; }
  .section-not_only .not_only-inner__title {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: normal;
    width: 310px;
    font-size: 44px;
    line-height: 130%;
    color: #ffffff; }
  .section-not_only .not_only-inner__subtitle {
    margin: 42px 0px;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd; }
  .section-not_only .not_only-inner__button {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: normal;
    width: 200px;
    padding: 16px 42px;
    background: #f1cdb3;
    border-radius: 26px;
    border: none;
    cursor: pointer;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: 0.2s; }
    .section-not_only .not_only-inner__button:hover {
      background: #fddcc4; }

.section-not_only__img {
  width: 698px;
  height: 728px; }

.section-about .container {
  justify-content: space-around;
  align-items: center;
  padding: 80px 114px 100px; }

.section-about__img {
  width: 300px;
  height: 408px; }

.section-about .about-inner {
  display: flex;
  max-width: 430px;
  flex-direction: column; }
  .section-about .about-inner__title {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: normal;
    max-width: 370px;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454; }
  .section-about .about-inner__subtitle {
    font-size: 15px;
    line-height: 160%;
    color: #4c4c4c;
    margin: 25px 0; }
  .section-about .about-inner__text {
    font-size: 15px;
    line-height: 160%;
    color: #4c4c4c; }

.section-out_friend {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  background: #f6f6f6; }
  .section-out_friend .container {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 100px 0; }
  .section-out_friend__title {
    width: 400px;
    text-align: center;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454; }
  .section-out_friend .friend-slider {
    display: flex;
    align-items: center;
    margin: 60px 0; }
    .section-out_friend .friend-slider .btn {
      display: flex;
      width: 52px;
      height: 52px;
      padding: 20px 0px 0px 18px;
      border: 2px solid #f1cdb3;
      border-radius: 100px;
      font-size: 0;
      background: 0;
      color: transparent;
      outline: none;
      cursor: pointer;
      transition: 0.2s; }
      .section-out_friend .friend-slider .btn:hover {
        background: #fddcc4; }
    .section-out_friend .friend-slider__btn-left {
      margin-right: 53px; }
    .section-out_friend .friend-slider__btn-right {
      margin-left: 53px; }
    .section-out_friend .friend-slider .slider-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px 35px;
      background: #fafafa;
      border-radius: 9px;
      transition: 0.2s; }
      .section-out_friend .friend-slider .slider-item:nth-child(3) {
        margin: 0 90px; }
      .section-out_friend .friend-slider .slider-item.active-friend, .section-out_friend .friend-slider .slider-item:hover {
        background: #ffffff; }
      .section-out_friend .friend-slider .slider-item__img {
        width: 200px;
        height: 240px; }
      .section-out_friend .friend-slider .slider-item__nickname {
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 30px 0; }
      .section-out_friend .friend-slider .slider-item__btn {
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
        padding: 13px 43px;
        border: 2px solid #f1cdb3;
        border-radius: 100px;
        background: transparent;
        transition: 0.2s;
        outline: none;
        cursor: pointer; }
        .section-out_friend .friend-slider .slider-item__btn:hover {
          background: #fddcc4; }
  .section-out_friend__btn {
    padding: 15px 45px;
    background: #f1cdb3;
    border-radius: 100px;
    border: none;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: #292929;
    outline: none;
    cursor: pointer;
    transition: 0.2s; }
    .section-out_friend__btn:hover {
      background: #fddcc4; }

.section-than {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal; }
  .section-than .container {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0 100px 0; }
  .section-than__title {
    max-width: 310px;
    text-align: center;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 60px; }
  .section-than .than-wrapper {
    max-width: 1030px;
    height: 281px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .section-than .than-wrapper__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section-than .than-wrapper__item:first-child {
        margin-bottom: 55px; }
      .section-than .than-wrapper__item:not(:first-child) {
        margin: 0 0 55px 120px; }
      .section-than .than-wrapper__item:nth-child(n + 6) {
        margin: 0 60px 0 60px; }
    .section-than .than-wrapper__img {
      margin-bottom: 30px; }
    .section-than .than-wrapper__text {
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #545454; }

.section-addition {
  background: #f6f6f6; }
  .section-addition .container {
    justify-content: center;
    align-items: center;
    padding: 80px 0 100px 0; }
  .section-addition__img {
    width: 505px; }
  .section-addition .addition-wrapper {
    font-family: Georgia, serif;
    font-style: normal;
    font-weight: normal;
    width: 380px;
    display: flex;
    flex-direction: column;
    margin-left: 30px; }
    .section-addition .addition-wrapper__title {
      max-width: 300px;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #545454; }
    .section-addition .addition-wrapper__subtitle {
      margin: 20px 0;
      font-size: 15px;
      line-height: 110%;
      letter-spacing: 0.06em;
      color: #545454; }
    .section-addition .addition-wrapper .addition-card {
      max-width: 349px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 15px;
      background: #f1cdb3;
      border-radius: 9px;
      text-decoration: none;
      transition: 0.2s; }
      .section-addition .addition-wrapper .addition-card__icon {
        margin-right: 14px; }
      .section-addition .addition-wrapper .addition-card__number {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454;
        cursor: pointer; }
      .section-addition .addition-wrapper .addition-card:hover {
        background: #fddcc4; }
    .section-addition .addition-wrapper__text {
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-style: italic;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #b2b2b2;
      margin-top: 20px; }

.section-footer {
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  background: url(../assets/images/footer-background.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
  background-size: cover; }
  .section-footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0 0; }
  .section-footer .contact-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 34px; }
    .section-footer .contact-info__title {
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #ffffff; }
    .section-footer .contact-info .email-container {
      display: flex;
      align-items: end;
      margin: 40px 0;
      text-decoration: none;
      transition: 0.2s; }
      .section-footer .contact-info .email-container__icon {
        margin-right: 20px; }
      .section-footer .contact-info .email-container__email {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #f1cdb3; }
    .section-footer .contact-info .telephone-container {
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: 0.2s; }
      .section-footer .contact-info .telephone-container__icon {
        margin-right: 20px; }
      .section-footer .contact-info .telephone-container__telephone {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #f1cdb3; }
  .section-footer .location {
    max-width: 302px;
    display: flex;
    flex-direction: column;
    margin: 0 160px 32px 128px; }
    .section-footer .location__title {
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #ffffff; }
    .section-footer .location .location-usa {
      display: flex;
      align-items: center;
      margin: 30px 0 34px 0;
      text-decoration: none;
      transition: 0.2s; }
      .section-footer .location .location-usa__icon {
        margin-right: 20px; }
      .section-footer .location .location-usa__street {
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #f1cdb3; }
    .section-footer .location .location-europe {
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: 0.2s; }
      .section-footer .location .location-europe__icon {
        margin-right: 20px; }
      .section-footer .location .location-europe__street {
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #f1cdb3; }
  .section-footer__img {
    width: 300px; }
  .section-footer .footer-hover:hover {
    opacity: 0.7; }
